#recipe_table{
    border: 1px solid black;
    /* border-spacing: 10px; */
    border-collapse: collapse;
}

#recipe_table tr th{
    height:40px;
    font-size: 20px;
    border-right: 1px solid black;
}

#recipe_table tr td{
    height: 81px;
    border-top: 1px solid black;
}

#recipe_table tr .food_name{
    width: 20%;
    border-right: 1px solid black;
}
