#contents
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f6f6f6;
}
.box
{
    width: 400px;
    border-bottom: 20px solid #166cea;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box h2
{
    color: #fff;
    background: #166cea;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box ul
{
    position: relative;
    background: #fff;
}
.box ul li
{
    list-style: none; 
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition: transform 0.5s;
}

.box ul li:hover
{
    transform: scale(1.1);
    z-index: 100;
    background: #166cea;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color: #fff;
}
