<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈</title>

    <!--jquery $-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

</head>
<body>
    <%- include('menu.ejs') %>
    home
    <br><br>
    여기가 홈인데 첫 로그인 후 설문조사 같은 것을 해야한다.
    <br><br>
    못먹는거나 좋아하는거 등등으로
    <br><br>
    대표적인 음식들을 가지고 호불호 체크도 괜찮을듯
    <br><br>

    <br><br>
    유저가 선택해온 메뉴 데이터 분석 등 간단하게 넣으면 좋을듯
    <br><br>
    그리고 홈에서는 냉장고에 들어온 재료 유통기한 살피는거 있으면 좋겠지만 어려워보임
    <br><br>
    
</body>
</html>