<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/ab3fdab2e1.js"
            crossorigin="anonymous"></script>
    <script src="main.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__logo">
            <a href="/my_ref">요리해조</a>
        </div>

        <div class="navbar__menu">
            <li><a href="/my_ref">내 냉장고</a></li>
            <li><a href="/recipe">레시피</a></li>
            <li><a href="/setting">설정</a></li>
        </div>
<!--  
        <a href="#" class="navbar__toogleBtn">
            <i class="fa-solid fa-bars"></i>
        </a>
-->
        </nav>
</body>
</html>