<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>    
    <script type="text/javascript" src="/js/test.js"></script>
    <title>Document</title>
    <script>
        $(document).ready(function() {
            // console.log($('#id').val());
            make_survey($('#id').val());
        });
    </script>
</head>
<body>
    <div class="explain">
        <h2>레시피 추천을 위한 설문지</h2>
        <h5>저희 요리해조는 사용자에게 알맞은 레시피를 추천해주기 위하여 설문을 진행하고 있습니다. 본인의 취향에 따른 답안을 부탁드립니다.</h5>
    </div>
    <input type="text" id="id" value="<%=id%>" style="display: none;">
    <form action="/test/form" id="surveys" method="post"></form>
</body>
</html>